/* No files to import found in abstractions//**/
/*.scss */
body {
  font-size: 16px;
  line-height: 1.75em; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../font/roboto/Roboto-Bold.ttf") format("truetype"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.woff2") format("woff"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../font/roboto/Roboto-Light.ttf") format("truetype"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.woff2") format("woff"); }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../font/roboto/Roboto-Medium.ttf") format("truetype"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.woff2") format("woff"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../font/roboto/Roboto-Regular.ttf") format("truetype"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.woff2") format("woff"); }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../font/roboto/Roboto-Thin.ttf") format("truetype"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.woff2") format("woff"); }

@font-face {
  font-family: 'Material-Design-Icons';
  src: url("../font/material-design-icons/Material-Design-Icons.eot") format("eot"), url("../font/material-design-icons/Material-Design-Icons.woff") format("embedded-opentype"), url("../font/material-design-icons/Material-Design-Icons.woff2") format("woff"), url("../font/material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("../font/material-design-icons/Material-Design-Icons.svg") format("svg"); }

.waves-button-input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 30px; }

.btn.waves-input-wrapper {
  padding: 0;
  margin-right: 5px; }

.breadcrumb {
  padding-left: 20px; }
  .breadcrumb .breadcrumb-separator {
    padding: 0 10px; }
  .breadcrumb a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7); }

/*# sourceMappingURL=omega-materialize.styles.css.map */
