.waves-button-input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

.btn.waves-input-wrapper {
  padding: 0;
  margin-right: $margin-5;
}

.breadcrumb {
  padding-left: $margin-10 * 2;
  .breadcrumb-separator {
    padding: 0 $margin-10;
  }
  a {
    font-size: 18px;
    color: rgba(255,255,255,0.7);
  }
}
