// Font Color
$font-white: #ffffff;
$font-grey: #999999;
$font-black: #000000;

// Font Size
$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 30px;

$base-font-size: $font-size-s;