@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/roboto/Roboto-Bold.ttf') format('truetype'),
  url('../font/roboto/Roboto-Bold.woff') format('woff'),
  url('../font/roboto/Roboto-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../font/roboto/Roboto-Light.ttf') format('truetype'),
  url('../font/roboto/Roboto-Light.woff') format('woff'),
  url('../font/roboto/Roboto-Light.woff2') format('woff');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/roboto/Roboto-Medium.ttf') format('truetype'),
  url('../font/roboto/Roboto-Medium.woff') format('woff'),
  url('../font/roboto/Roboto-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/roboto/Roboto-Regular.ttf') format('truetype'),
  url('../font/roboto/Roboto-Regular.woff') format('woff'),
  url('../font/roboto/Roboto-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../font/roboto/Roboto-Thin.ttf') format('truetype'),
  url('../font/roboto/Roboto-Thin.woff') format('woff'),
  url('../font/roboto/Roboto-Thin.woff2') format('woff');
}

@font-face {
  font-family: 'Material-Design-Icons';
  src: url('../font/material-design-icons/Material-Design-Icons.eot') format('eot'),
  url('../font/material-design-icons/Material-Design-Icons.woff') format('embedded-opentype'),
  url('../font/material-design-icons/Material-Design-Icons.woff2') format('woff'),
  url('../font/material-design-icons/Material-Design-Icons.ttf') format('truetype'),
  url('../font/material-design-icons/Material-Design-Icons.svg') format('svg');
}
